[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/colorizer"]
	path = bundle/colorizer
	url = https://github.com/vim-scripts/colorizer
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/instant-markdown"]
	path = bundle/instant-markdown
	url = https://github.com/suan/vim-instant-markdown
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/twig"]
	path = bundle/twig
	url = https://github.com/evidens/vim-twig
[submodule "bundle/lusty-explorer"]
	path = bundle/lusty-explorer
	url = https://github.com/sjbach/lusty
